
@tailwind components;

@layer components {
    .full-width--container{
        position: relative;
        width: 100vw;
        max-width: 99.1vw;
        left: 50%;
        transform: translate(-50%, 10px);
    }
}

.bg-light-grey{
    background:#efefef;
}